{% extends "base.html" %} 

{% block mainBlock %}
	<div class="ui inverted menu" id="navibar">
		<div class="ui container">
			<a href="/" class="header item">
				<!--img class="logo" src=""-->
				羽天珼岸
			</a>
			<a class="item {% block naviIndexClass %}{%endblock%}" href="/">逛逛</a>
			<a class="item" href="https://hakurei.club/" target="_blank">社團網站</a>
			<a class="item" href="https://hakurei.club/blog/" target="_blank">Blog</a>
			<a class="item" href="https://www.facebook.com/HakureiWing/" target="_blank">Facebook</a>
		</div>
	</div>
	{% block mainContentArea %}{% endblock %}
{% endblock %}
