{% extends "1row-base.html" %}

{% block naviIndexClass %}active{% endblock %}

{% block header %}
	<script src="/static/index.js"></script>
{% endblock %}

{% block title %}訂單管理{% endblock %}

{% block mainFrame %}
{% if onSale != [] %}
<h2>以下商品販售中</h2>
{% if onOrder == [] and notAva == [] %}<p>所有商品正常販售中</p>{% endif %}
{% if onOrder != [] or notAva != [] %}<p>部份商品已經完售，完售商品請往下查看。</p>{% endif %}
<div id="onSale" class="ui stackable four column grid">
	{% for i in onSale%}
	<div class="column eight wide item">
		<div class="ui segment" id="item-{{i[0]}}">
			<h2 class="itemTitle">{{i[1]}}</h2>
			<img src={{i[2]}}>
			<p>售價：NT <strong>${% for digital in i[3]|string%}{% if loop.index|int % 4 == 0 %},{% endif %}{{digital}}{% endfor %}</strong></p>
		</div>
	</div>
	{% endfor %}
</div>

{% endif %}

{% if notAva != [] %}
<h2>以下商品殘念啦</h2>
<p>不但完售了，而且我們並不打算加印，殘念囉。</p>
<div id="notAva" class="ui stackable four column grid">
	{% for i in notAva %}
	<div class="column eight wide item">
		<div class="ui segment" id="item-{{i[0]}}">
			<h2 class="itemTitle">{{i[1]}}</h2>
			<img src={{i[2]}}>
			<p>售價：NT <strong>${% for digital in i[3]|string%}{% if loop.index|int % 4 == 0 %},{% endif %}{{digital}}{% endfor %}</strong></p>
		</div>
	</div>
	{% endfor %}
</div>
{% endif %}

{% if onOrder != [] %}
<h2>以下商品完售啦～</h2>
<p>如果你想要購買以下的商品，請把平板拿起來填寫預購，場次結束後我們會加印並直接寄到你家。</p>
<form method="POST" class="ui form" >
	<div class="ui stackable four column grid" id="onOrder">
		{% for i in onOrder %}
		<div class="column eight wide item">
			<div class="ui segment" id="item-{{i[0]}}">
				<h2 class="itemTitle">{{i[1]}}</h2>
				<img src={{i[2]}}>
				<p>售價：NT <strong>${% for digital in i[3]|string%}{% if loop.index|int % 4 == 0 %},{% endif %}{{digital}}{% endfor %}</strong></p>
				<div class="fields">
					<div class="four wide field">
						<label>購買數量</label>
						<input type="number" name="Order-item-{{i[0]}}" id="Order-item-{{i[0]}}" value="0">
					</div>
					<div class="four wide field">
						<a class="ui red vertical button morenum" href="javascript: plusValue({{i[0]}});">+</a>
					</div>
					<div class="four wide field">
						<a class="ui black vertical button lessnum" href="javascript: minusValue({{i[0]}})">-</a>
					</div>
				</div>
			</div>
		</div>
	{% endfor %}
	</div>
			<button class="ui primary vertical animated button" type="submit">
				<div class="hidden content">下單</div>
				<div class="visible content">
					<i class="shop icon"></i>
				</div>
			</button>
</form>
{% endif %}

{% endblock %}
