#navibar , #footer {
	border-radius: 0em;
	margin: 0em;
}

#navibar {
	height: 3em;
}

#footer {
	height: 1.6em;
	padding-top: 2em;
}

#MainFrame {
	margin: 0em 0em 0em 0em;
	/* min-height: 15em; */
	padding-top: 1em;
	/* height: calc( 100% - 4.6em ); */
}

/**   美化UI   **/
body {
	background-color: #e6e6e6;
}

#itemTitle {
	
}

#onOrder {
	margin-bottom: 2em;
}

.morenum ,.lessnum {
	margin-top: 1.7em !important;
	height: 2.65em;
	width: 100%;
}

.itemContent {
	height: 3em;
}
